Django==1.11
requests  
Django-Select2
Jinja2
MarkupSafe
Pillow
PyYAML
Pygments
Sphinx
Unidecode
Werkzeug
XlsxWriter
Xlsxcursor
aafigure
ansible
# apt-xapian-index
argh
argparse
bpython
chardet
colorama
defer
django-admin-bootstrapped
django-autoslug
django-chartit
django-crispy-forms
django-daterange-filter
django-extensions
django-haystack
django-impersonate
django-model-utils
django-password-reset
django-phonenumber-field
django-post-office
django-sendfile
django-sphinx-autodoc
django-sphinxdoc
django-suit
django-tables2
django-tables
docutils
docx
ecdsa
future
html5lib
httplib2
jsonfield
paramiko
pathtools
phonenumbers
psycopg2
pwgen
pyasn1
pycrypto
pycurl
# pygobject
# python-apt
python-dateutil
python-debian
pytz
requests
selenium
simplejson
six
sorl-thumbnail
sphinx-bootstrap-theme
sphinxcontrib-aafig
sphinxjp.themes.basicstrap
ssh-import-id
uWSGI
urllib3
virtualenv
watchdog
wsgiref
xlrd
xlutils
xlwt
