Django
requests  
Django-Select2
Jinja2
MarkupSafe
Pillow
PyYAML
Pygments
Sphinx
Unidecode
Werkzeug
XlsxWriter
Xlsxcursor
aafigure
ansible
# apt-xapian-index
argh
argparse
bpython
chardet
colorama
defer

# django-admin-bootstrapped
# falls back to django 1.8


django-autoslug
django-chartit
django-crispy-forms
django-daterange-filter
django-extensions
django-haystack
django-impersonate
django-model-utils
django-password-reset
django-phonenumber-field
django-post-office
django-sendfile
django-sphinx-autodoc
django-sphinxdoc
django-suit
django-tables2
# porbably superseded by django-tables2? no import visible 
# django-tables
docutils
docx
ecdsa

# future is no longer needed :-)
# future

html5lib
httplib2
jsonfield
paramiko
pathtools
phonenumbers

psycopg2
# on OSX, ssl installed via brew: 
# env LDFLAGS="-I/usr/local/opt/openssl/include -L/usr/local/opt/openssl/lib" pip install psycopg2

pwgen
pyasn1
pycrypto
pycurl
# pygobject
# python-apt
python-dateutil
python-debian
pytz
requests
selenium
simplejson
six
sorl-thumbnail
sphinx-bootstrap-theme
sphinxcontrib-aafig
sphinxjp.themes.basicstrap
ssh-import-id
uWSGI
urllib3
virtualenv
watchdog
# no longer necessary, included as standard
#wsgiref
xlrd
xlutils
xlwt
