{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}


{% block branding %}
Willkommen{% if user.is_authenticated %}, {{user.first_name}}  {{user.last_name}}
{% endif %}!
{% endblock %}

{% block content %}


{% if user.is_authenticated %}

{% if msg %}
<div class="alert alert-{{msgclass}}">
  {{ msg }}
</div>
{% endif %}


<p>
Bist du schon mal am Lippesee angekommen und erst dann festgestellt, dass dein Lieblings-Vereinsboot schon <b>besetzt ist</b> (z.B. wegen Ausbildung)?
</p>
<p>
Oder hattest du vielleicht Schwierigkeiten um nachzuvollziehen, ob die von dir gemeldete 'lose Wante' vom Bootspaten schon <b>repariert worden ist</b>? 
</p>
<p>
Diese App soll es uns ermöglichen die Vereinsboote effizienter zu nutzen und noch mehr Spass am Segeln haben! 
</p>
<img src="/static/boote/banner.png" style="width: 786px;" class="img-responsive"><br>
  
  <p>
  Hier kanst Du folgendes tun (ohne deinen gemütlichen Sessel zu verlassen)
   <ul>
   <li>Alle Boote anschauen (mit Bildern und allen Informationen) und auch Deine eigenen Boote definieren</li>
   <li>Verfügbarkeit von Vereinsbooten (für heute) prüfen</li>
   <li>Vereinsboote reservieren (ab nächsten Tag, bis 6 Tage in Zukunft)</li>
   <li>Probleme bei Booten melden und anschauen</li>
   </ul>
   Alles erreichbar über die Menüleiste oben.
  </p>
  
  
  
  <p style="font-weight: bold;">
  Handbreit Wasser unterm Kiel! 
  </p>

{% else %}

<a href="login/?next=/home/"> Bitte loggen Sie sich ein! </a>
{% endif %}

<p></p>
<hr>

    <a href="/about">Über diese Webseite</a>

{% endblock %}
<!-- hhmts start -->Last modified: Wed Mar  4 20:50:37 CET 2015 <!-- hhmts end -->


