{% extends "admin/base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block extrahead %}

{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href = "/"> Home </a>
      {% if user.is_staff %}
      - 
      <a href="{% url 'admin:index' %}"> Rohdaten verwalten </a>
      {% endif %}
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %} 

{% block title %}{{ title }} | {% trans 'Arbeitsmeldungen' %}{% endblock %}

{% block branding %}
<a href = "/">
<h1 id="site-name">{% trans 'Arbeitspläne selbst verwalten leicht gemacht' %}</h1>
</a>
{% endblock %}




{% block nav-global %}{% endblock %}