{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}


{% block branding %}
Willkommen{% if user.is_authenticated %}, {{user.first_name}}  {{user.last_name}}
{% endif %}!
{% endblock %}


{% block content %}

{% if user.is_authenticated %}

    <div class="row">
        <div class="col-md-6">
        <a href="arbeitsplan/">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-titel">
                        Arbeitsplan
                    </div>
                </div>
                <div class="panel-body">
                    <p>Bild mit Arbeit</p>
                    <p>Für Aufgaben melden, Leistungen eingeben, ... </p>
                </div>
            </div>
        </a>
        </div>

        <div class="col-md-6">
        <a href="boote/">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-titel">
                        Boote und Mitsegeln
                    </div>
                </div>
                <div class="panel-body">
                    <p> Bild mit Boot </p>
                    <p>
                        Vereinsboote nutzen,
                        bei Vereinsmitgliedern mitsegln, ...
                    </p>
                </div>
            </div>
        </a>
        </div>

        {% for g in  user.groups.all %}
        {% if g.name == "Vorstand" %}

            <div class="col-md-6">
            <a href="accounts/">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-titel">
                            Mitglieder
                        </div>
                    </div>
                    <div class="panel-body">

                        <p>Bild mit Menschen</p>
                        <p>Mitglieder verwalten,
                        neu anlegen, ... </p>
                    </div>
                </div>
            </a>
            </div>
        {% endif %}
        {% endfor %}

    </div>
{% else %}

<div class="container">
    <div class="row">
        <div class ="col-md-12">
            <img class="img-responsive" src="{% static "media/head_startseite_01.jpg"%}">
        </div>
    </div>
</div>
<div class="jumbotron">
    <p> In einem Segelverein fällt viel Arbeit an,
        die auf die Mitglieder verteilt werden muss.
        Diese Seite dient der Organisation dieser Arbeit.
    </p>

    {% if OFFLINE %}
    <b><big>
        Die Web-Anwendung ist wegen Wartung kurzfristig ausser Betrieb. Anmelden ist derzeit nicht mögich. Bitte versuchen Sie es später erneut! Wir entschuldigen uns für die Unannehmlichkeiten.
    </big></b>
    {% else %}
    <p>
        Bist Du ein Mitglied, so
        <a href="/login/?next=/home/"> melde Dich bitte an
        </a>.
    </p>
    <p>
        <a href="/login/?next=/home/"
           class="btn btn-primary btn-lg" role="button">
            Anmelden</a>
    </p>
    {% endif %}
</div>

{% endif %}

<hr>
<p>
    <a href="/about">Über diese Webseite</a>
</p>

{% endblock %}