{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Reservationen
{% endblock %}

{% block content %}



<p>
Hier Deine aktuelle Reservationen:
</p>

<ul>
{% if mybookings %}
<table id="boatslist">
 <thead>
        <tr>
        	<th>Boot</th>
        	<th>Datum</th>
            <th>Zeitraum</th>
            <th>Download</th>                   
            <th>Stornieren</th>          
            
        </tr>
    </thead>
{% for weekday, date, time_from, time_to, boat, reservationid in mybookings %}
  <tr>
  	<td style='text-align:left;'><a href="/boote/boot/{{ boat.pk }}/"> <i class="fa fa-ship"></i>  {{ boat.name }} ({{ boat.type.name }})</a></td> 
  	<td>{{ weekday }}, {{ date }}</td> 
  	<td>von {{ time_from }} bis {{ time_to }}</td>
  	<td><a href='dd'>PDF</a></td>
  	<td><a href="/boote/booking_remove/{{ reservationid }}" style="color:red"><i class="fa fa-minus-square"></i> stornieren</a></td>
  </tr>
{% endfor %}
</table>
{% else %}
    <li style="color:#999999">Du hast aktuell keine aktive Reservationen</li>
{% endif %}
</ul>

Beachte <a href='/static/media/SVPB-bedinungen-boote.pdf' target='_blank'>Bedingungen fuer Vereinsboote</a>!


{% endblock %}
