{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Reservationen
{% endblock %}

{% block content %}



{% if mybookings %}
<p>
Hier Deine aktuelle Reservationen (beachte <a href='/static/media/SVPB-bedinungen-boote.pdf' target='_blank'>Bedingungen fuer Vereinsboote</a>):
</p>
<table id="boatslist">
 <thead>
        <tr>
        	<th>Boot</th>
        	<th>Datum</th>
            <th>Zeitraum</th>
            <th>Download</th>                   
            <th>Stornieren</th>          
            
        </tr>
    </thead>
{% for weekday, date, time_from, time_to, boat, reservationid in mybookings %}
  <tr>
  	<td style='text-align:left;'><a href="/boote/boot/{{ boat.pk }}/"> <i class="fa fa-ship"></i>  {{ boat.name }} ({{ boat.type.name }})</a></td> 
  	<td>{{ weekday }}, {{ date }}</td> 
  	<td>von {{ time_from }} bis {{ time_to }}</td>
  	<td><a href='dd'>PDF</a></td>
  	<td><a href="/boote/booking_remove/{{ reservationid }}" class="btn btn-primary">Stornieren</a></td>
  </tr>
{% endfor %}
</table>
{% else %}
    Du hast aktuell keine Reservationen. <a href="/boote/booking/overview/">Such dir ein Boot und Termin aus.</a>
{% endif %}

<h2>Alte Reservationen<h2>



{% endblock %}
