{% extends "bootstrap/bootstrap_boote.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Reservierungen
{% endblock %}

{% block content %}



{% if bookings %}
<p>
Hier sind deine aktuellen Reservierungen <a href="/static/boote/AlgemRegelnVereinsboote.pdf" target="_blank">Allgemeine Regeln zur Nutzung der Vereinsboote</a>:
</p>

<table id="boatslist">
  
   <thead>
        <tr>
        	<th>Reserviert für</th>
        	<th>Boot</th>
        	<th>Datum</th>
            <th>Zeitraum</th>
            <th>Typ</th>
            <th>Status</th>
            <th>Notified</th>            
        </tr>
    </thead>

{% for b, weekday, date, time_from, time_to in bookings %}
  <tr>
  	<td>{{ b.user.first_name }} {{ b.user.last_name }}</td>
  	<td style='text-align:left;'><a href="/boote/boot/{{ b.boat.pk }}/"> <i class="fa fa-ship"></i>  {{ b.boat.name }} ({{ b.boat.type.name }})</a></td> 
  	<td style='text-align: right'>{{ weekday }}, {{ date }}</td> 
  	<td>von {{ time_from }} bis {{ time_to }}</td>
  	<td>{{ b.type }}</td>
  	{% if b.status = 1 %}
  		<td>Aktiv</td>
  	{% else %}
  		<td>Storniert</td>
  	{% endif %}
  	
  	{% if b.notified = 1 %}
  		<td><i class="fa fa-paper-plane" aria-hidden="true"></i></td>
  	{% else %}
  		<td>-</td>
  	{% endif %}
  	
  </tr>
{% endfor %}
</table>
{% else %}
    Du hast aktuell keine Reservierungen. <br> <a href="/boote/booking/overview/">Such dir ein Boot und Termin aus.</a>
{% endif %}


{% endblock %}
