{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Reservation {{ boot.name }} ({{ boot.type.name }})
{% endblock %}

{% block content %}

<script>
function showbooking() {
	date_idx = document.getElementById("id_res_date").selectedIndex;
	time_idx = document.getElementById("id_res_start").selectedIndex;
	dur_idx = document.getElementById("id_res_duration").selectedIndex;
	
	var box = document.getElementById("newbooking");
	
	box.style.display = "inline";
	
	if (time_idx == "0") {
		box.style.display = "none";		
	}
	
	if (dur_idx == "0") {
		box.style.display = "none";		
	}
	
	var width = 48*dur_idx;	
	var left = 48*(time_idx-23) + width - 1;
	var top = date_idx*50.0-350;
	
    box.style.top = top+"px";
    box.style.left = left+"px";
    box.style.width = width+"px";
}
</script>

<p>
 <a href='/boote/boot/{{ boot.pk }}'>&lt; zurück zum {{ boot.name }}</a>
</p>


<p>
Mochtest Du <b>"{{ boot.name }}"</b> verbindlich reservieren?
</p>

<p style='border: 1px solid rgb(159, 159, 230); padding: 5px; background-color: rgb(199, 199, 255)'><b>Wichtige Hinweise</b>: {{ boot.booking_remarks }}</p>

{% if error_list %}
<div class='alert alert-block alert-danger'>
	<ul>
	{% for error in error_list %}
		<li>{{ error }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% crispy form %}


<p>
Verfuegbarkeit von Vereinsboot "{{ boot.name }}" in kommenden 7 Tage.
</p>

<TABLE id='boatslist'>
 <thead>
        <tr>
            <th>Datum</th>
            <th class="date" colspan="2">08:00</th>
            <th class="date" colspan="2">09:00</th>
            <th class="date" colspan="2">10:00</th>
            <th class="date" colspan="2">11:00</th>
            <th class="date" colspan="2">12:00</th>
            <th class="date" colspan="2">13:00</th>
            <th class="date" colspan="2">14:00</th>
            <th class="date" colspan="2">15:00</th>
            <th class="date" colspan="2">16:00</th>
            <th class="date" colspan="2">17:00</th>
            <th class="date" colspan="2">18:00</th>
         </tr>
 </thead>

{% for weekday, date, overviewday in booking_overview %}
  <TR>
    <TD style="font-size: 80%"> <b>{{ weekday }}</b> <br>{{ date }}</TD>
    {% for userid in overviewday %}
    	{% if userid = 0 %}
      	<TD class='booked0'>frei</TD>
      	{% else %}
      	<TD class='booked1'><i class="fa fa-lock" alt="{{ userid }}"></i></TD>
      	{% endif %}
    {% endfor %}
  </TR>
{% endfor %}
</TABLE>
<div id="newbooking">&nbsp</div>

{% endblock %}
