{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}



{% block branding %}
Reservation {{ boot.name }} ({{ boot.type.name }})
{% endblock %}

{% block content %}

<p>
 <a href='/boote/boot/{{ boot.pk }}'>&lt; zurück zum {{ boot.name }}</a>
</p>


<p>
Mochtest Du <b>"{{ boot.name }}"</b> verbindlich reservieren?
</p>

<p style='border: 1px solid rgb(159, 159, 230); padding: 5px; background-color: rgb(199, 199, 255)'><b>Wichtige Hinweis</b>: {{ boot.booking_remarks }}<br> <br> Beachte "Bedingungen fuer Vereinsboote"!</p>


{% crispy form %}


<p>
Verfuegbarkeit von Vereinsboot "{{ boot.name }}" in kommenden 7 Tage.
</p>

<TABLE id='boatslist'>
 <thead>
        <tr>
            <th>Datum</th>
            <th class="date" colspan="2">08:00</th>
            <th class="date" colspan="2">09:00</th>
            <th class="date" colspan="2">10:00</th>
            <th class="date" colspan="2">11:00</th>
            <th class="date" colspan="2">12:00</th>
            <th class="date" colspan="2">13:00</th>
            <th class="date" colspan="2">14:00</th>
            <th class="date" colspan="2">15:00</th>
            <th class="date" colspan="2">16:00</th>
            <th class="date" colspan="2">17:00</th>
            <th class="date" colspan="2">18:00</th>
         </tr>
 </thead>

{% for weekday, date, overviewday in booking_overview %}
  <TR>
    <TD style="font-size: 80%"> <b>{{ weekday }}</b> <br>{{ date }}</TD>
    {% for day in overviewday %}
      <TD class='booked{{ day }}'>
        &nbsp;
      </TD>
    {% endfor %}
  </TR>
{% endfor %}
</TABLE>





{% endblock %}
