{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Alle Boote
{% endblock %}

{% block content %}

<h2>Vereinsboote von SVPB</h2>
<p>
Folgende Vereinsboote stehen allem Mitglieder zur Verfügung.
</p>

<TABLE id='boatslist'>
	<thead>
        <tr>
            <th>Eigner</th>            
            <th>Name</th>            
            <th>Länge</th>
            <th>Breite</th>  
            <th>Tiefgang</th>               
        </tr>
	</thead>

{% for boot, numIssues in boots_verein %}
  <TR>
    <td style="text-align: left;">{% if boot.club_boat %}<img src="/static/boote/svpb.png" style="width: 50px;" class="img-responsive">{% endif %}</td>        
    <td style="text-align: left;"> <a href='/boote/boot/{{ boot.pk }}'> <i class="fa fa-ship"></i> {{ boot.name }} </a> ({{ boot.type.name }} )</TD>        
    <td>{{ boot.type.length }} </td>
    <td>{{ boot.type.beam }} </td>
    <td>{{ boot.type.draught }} </td>
  </TR>
{% endfor %}


</TABLE>




{% if boots_andere %}

<h2>Andere Boote am Lippesee</h2>
<p>
Es gibt auch viele andere Boote die am Lippesee seine Zuhause haben - hier Einige davon.
</p>
<TABLE id='boatslist'>
	<thead>
        <tr>            
            <th>Name</th>            
            <th>Länge</th>
            <th>Breite</th>  
            <th>Tiefgang</th>
        </tr>
	</thead>

{% for boot, numIssues in boots_andere %}
  <TR>    
    <td style="text-align: left;"> <a href='/boote/boot/{{ boot.pk }}'> <i class="fa fa-ship"></i> {{ boot.name }} </a> ({{ boot.type.name }})</TD>        
    <td>{{ boot.type.length }} </td>
    <td>{{ boot.type.beam }} </td>
    <td>{{ boot.type.draught }} </td>    
  </TR>
{% endfor %}


</TABLE>

{% endif %}



{% endblock %}
