{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
{% if boot.club_boat %}
Vereinsboot
{% else %}
Boot
{% endif %}
 "{{ boot.name }}"
{% endblock %}

{% block content %}

<div id='mainpic'>
<img src="/static/boote/boat_types/boat_type_{{  boot.type.pk }}.png" style="width: 50px;" class="img-responsive"><br>
{% if boot.photo %}
<img src="/{{ boot.photo.url }}" class="picture">
{% endif %}
</div>

<div id='maindesc'>
<dl>
  <dt>Bootstyp</dt><dd><a href="{{ boot.type.url }}" target="_blank">{{ boot.type.name }}</a></dd>
  <dt>Bootsname</dt><dd>{{ boot.name }}</dd>  
  <dt>Länge/Breite</dt><dd>{{ boot.type.length }} / {{ boot.type.beam }}</dd>
  <dt>Tiefgang</dt><dd>{{ boot.type.draught }}</dd>
  <dt>Beschreibung</dt><dd>{{ boot.remarks }}</dd>
  
  <dt>Hinweise</dt><dd>{{ boot.booking_remarks }}
  {% if boot.briefing %}
  <br><i>Einweisung (erforderlich): {{ boot.briefing }}</i>
  {% endif %}
  </dd> 
  
  <dt>Einweisung</dt><dd>{{ boot.owner.first_name }} {{ boot.owner.last_name }} (<a href="mailto:{{ boot.owner.email }}">{{ boot.owner.email }} <!--NEW Telefon 22.06.2018--></a>)</dd>  

  {% if not boot.active %}
  <dt>Status</dt><dd style='color: red;'>Boot ist inactive</dd>
  {% endif %}

 </dl>
</div>

{% if boot.club_boat %}
<p>
<a href="/boote/booking/boot/{{ boot.pk }}"  class="btn btn-primary">Boot reservieren</a><br>
</p>
{% endif %}    


{% if boot.club_boat %}
<p>
Hast Du kleinere Probleme am Boot entdeckt, melde diese bitte hier über <em>Meldungen</em>. Der Bootspate wird sich drum kümmern.</br> 
{% if numIssues %}
	<span style='color: red'><i class="fa fa-cog"></i> Offene Meldungen: {{ numIssues }}</span></br>
{% endif %}
	<a href="/boote/boot_issues/{{ boot.pk }}/" class="btn btn-primary">Schaden oder Problem melden</a>  
</p>
{% endif %}    

{% if ismyboat %}
<p>
Du hast die Berechtigung alle Informationen dieser Seite zu aktualisieren:</br>
<a href="/boote/boot/edit/{{ boot.pk }}/" class="btn btn-primary">Bootseditor</a>
</p>
{% endif %}


<p style="font-size: 80%">* Bei fehlerhaften Informationen auf dieser Seite stehen Dir der Bootspate <b>{{ boot.owner.first_name }} {{ boot.owner.last_name }}</b> zur Verfügung. <!--"{{ boot.name }}"--></p>

{% endblock %}
