{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Meine Boote
{% endblock %}

{% block content %}

{% if edit %}
<div class="overlay">
<div class="modalbox">
<h2>Boot Editieren</h2>

	<form method="POST">
	{% crispy form_boot_edit %}
	</form>

</div>
</div>
{% endif %}

{% if my_boats %}
<h2>Bootsliste</h2>
<table id="boatslist">
   <thead>
        <tr>
            <th style="width: 100px">&nbsp;</th>
            <th style="width: 100px">Boot Type</th>
            <th style="width: 100px">Name</th>
            <th style="width: 100px">Vereinsboot</th>
            <th style="width: 100px">Aktionen</th>
        </tr>
    </thead>

{% for boat in my_boats %}
  <tr>
  	<td style="text-align: left;"><img src="/static/boote/boat_types/boat_type_{{  boat.type.pk }}.png" style="width: 50px;" class="img-responsive"></td>  	
  	<td style="text-align: left;">{{ boat.type.name }} </td>
  	<td style="text-align: left;">{{ boat.name }}</TD>
  	<td style="text-align: left;">{% if boat.club_boat %}<img src="/static/boote/svpb.png" style="width: 50px;" class="img-responsive">{% endif %}</td>
  	<td><a href="/boote/boot/edit/{{ boat.pk }}/" class="btn btn-primary">Edit</a> <a href="/boote/boot/{{ boat.pk }}/" class="btn btn-primary">Anzeigen</a></td>
  </tr>
{% endfor %}
</table>
{% else %}
    <p>Du hast noch keine Boote.</p>
{% endif %}
<p>
<a href="/boote/boot/edit/new/" class="btn btn-primary">Neue Boot</a>
</p>






{% endblock %}
