{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Schadensmeldungen {{ boot.name }} ({{ boot.type.name }})
{% endblock %}

{% block content %}
<p>
 <a href='/boote/boot/{{ boot.pk }}'>&lt; zurück zum {{ boot.name }}</a>
</p>

{% if issues %}
<p>Es liegen folgende offene Schadensmeldungen für "{{ boot.name }}" vor (Bootspate wurde informiert):</p>
<table id="boatslist">
 <thead>
        <tr>
        	<th style="width: 10%">Gemeldet von</th>
        	<th style="width: 10%">Erledigt von</th>
        	<th style="width: 10%">Status</th>
            <th>Beschreibung</th>
            <th style="width: 10%">Aktion</th>
        </tr>
    </thead>

{% for issue in issues %}
  <tr>
  	<td style='font-size: 80%'>{{ issue.reported_by.first_name }} {{ issue.reported_by.last_name }}<br> {{ issue.reported_date }}</td>
  	{% if issue.status = 1 %} 	
  		<td>-</td>
  		<td style='color: red'> <i class="fa fa-cog"></i> Offen</td>
  	{% else %}
  	 	<td style='font-size: 80%'>{{ issue.fixed_by.first_name }} {{ issue.fixed_by.last_name }} <br> {{ issue.fixed_date }}</td>
  	 	<td style='color: green'> <i class="fa fa-check"></i> Erledigt</td>
  	{% endif %}
  	<td style="text-align: left; vertical-align: top; font-style:italic;">{{ issue.reported_descr }}</td>
  	{% if issue.status = 1 %} 	
  		<td><a href='/boote/boot_fix_issue/{{ issue.pk }}/'  class="btn btn-primary" onclick='return window.confirm("Soll diese Schadensmeldung (erstellt von {{ issue.reported_by.first_name }} {{ issue.reported_by.last_name }} am {{ issue.reported_date }}) als erledigt markiert werden?");'>Als erledigt markieren</a></td>
  	{% else %}
  	 	<td>-</td>
  	{% endif %}
  	  	
  </tr>
{% endfor %}
</table>
{% else %}
    <p>Es liegen <span style="color: rgb(0, 161, 30)">keine</span> offene Schadensmeldungen fuer "{{ boot.name }}" vor.</p>
{% endif %}

<h2>Neue Schadensmeldungen</h2>
<p>Wenn du Beschädigungen an Bord siehst oder selber etwas beschädigt hast,
    wenn  Dir notwendige Reparaturen auffallen, trage das bitte hier ein.
    Bei kritischen Problemen mit dem Boot
    bitte sofort den Bootspaten informieren.</p>
 
{% crispy form_issue %}


{% endblock %}
