<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" 
  content="text/html; charset="UTF-8"/>
  <title></title>
  <style type="text/css">
   body {
       text-align: left;
       color: #5f5f5f;       
       width: 640px;
       margin: auto;
   }
   
   .welcome {
   	font: 18px Arial,sans-serif;
    color: #cc6600;
    margin: 20px 20px 18px 0px;
   }
   
   #bname {
   	font-size: 150%;   	
   }
  </style>
</head>

<body>
<p class='welcome'>
Hallo {{ booking.user.first_name }},<br>
</p>

<p>du hast das folgende Boot reserviert:</p>

<p>
 Boot: &nbsp; &nbsp; <a href='http://mein.svpb.de/boote/boot/{{ booking.boat.pk }}'>{{ booking.boat.type.name }} <i>"{{ booking.boat.name }}"</i></a><br>
 Datum: &nbsp; {{ booking.date }}  <br>
 Uhrzeit: {{ booking.time_from }} - {{ booking.time_to }}
</p>

{% if booking.boat.briefing %}
<p>
<b>Einweisung erforderlich</b><br>
{{ booking.boat.briefing }}
</p>
{% endif %}
    

<p>
<b>Wichtiges</b>
<ul>

<li>Bitte sei pünktlich. Wenn das Boot ab
 {{ booking.time_from }} nicht genutzt wird, 
 verfällt die Reservierung.</li>

<li>Beachte die <a href='http://mein.svpb.de/static/boote/AlgemRegelnVereinsboote.pdf'>Allgemeinen Regeln zur Nutzung der Vereinsboote</a></li>

<li>Wenn du das Boot doch nicht nutzen möchtest,
 storniere bitte deine Reservierung unter 
 <a href='http://mein.svpb.de'>mein.svpb.de</a>
  spätestens zwei Tage vorher.</li>

<li>Eine zusätzliche Eintragung in 
die Papier-Listen im Vereinshaus entfällt NICHT.</li>

<li>Probleme, Schäden oder defekte am Boot melde bitte über den Menüpunkt "Schaden melden" unter 
 <a href='http://mein.svpb.de'>mein.svpb.de</a></li>

</ul>
</p>
<br>
Wir wünschen Dir viel Spaß auf dem Lippesee<br>
Dein mein.svpb-Team <br>
<br>
<br>
-- <br>
Segler-Verein Paderborn	e.V.<br>
Sennelagerstraße 58b<br>
33106	Paderborn	<br>
<br>
E-Mail:	<a href='mailto:>mail@svpb.de'>mail@svpb.de</a><br>
<a href='http://www.svpb.de'>www.svpb.de</a><br>
<a href='http://www.facebook.com/SeglerVereinPaderborn<'>www.facebook.com/SeglerVereinPaderborn</a><br>
----------------------------------------------------------------------------<br>
Segler-Verein Paderborn.e.V.: Sitz: Paderborn | Amtsgericht Paderborn VR 638<br>
Geschäftsführung: Dirk Hänsgen (Vorsitz), Karl-Ernst Laue, Dieter Peitz, Friedhelm Rüdiger<br>
----------------------------------------------------------------------------<br>
Diese E-Mail und eventuelle Anlagen können vertrauliche	und/oder rechtlich geschützte Informationen enthalten. Wenn Sie nicht der richtige Adressat sind oder	diese	E-Mail	irrtümlich	erhalten	haben,	informieren	Sie	bitte	sofort	den	Absender	und		vernichten	Sie	diese	E-Mail.	Das	unerlaubte	Kopieren	sowie	die	unbefugte	Weitergabe	dieser	EMail	sind	nicht	gestattet.<br>
----------------------------------------------------------------------------<br>
Bitte denken Sie über Ihre Verantwortung gegenüber der Umwelt nach, bevor Sie diese E-Mail ausdrucken!<br>
</body>
</html>
