{% extends "bootstrap/bootstrap_base.html" %}

{% block branding %}
Aufgabenverwaltung leicht gemacht 
{% endblock %}


{% block content%}


<h3> Neuerungen und Änderungen: </h3>

<ul>
    <li> 30.5.2015: Man kann Meldung nicht mehr zurückziehen, wenn man schon auf die Aufgabe eingeteilt wurde. </li>
    <li> 30.5.2015: Antworten auf Erinnerungsemails sollten jetzt direkt an den Verantwortlichen der Aufgabe gehen, nicht mehr an mein@svpb.de. Experimentell; bei Problemen Bescheid sagen! </li>
    <li> 25.5.2015: Beim Eintragen oder Ändern einer Meldung wird eine Mail an den verantwortlichen Ansprechpartner für die entsprechende Aufgabe geschickt. </li>
    <li> 17.5.2015: Fehler in Zuteilungs-Benachrichtungsemails behoben; Name des Ansprechpartners sollte jetzt lesbar sein. Ggf. wird in Zueilungs-Benachrichtungsemails und Erinnerungsemails an fehlende Telefonnummer erinnert. 
<li> 8.3.2015: Bei der Berechnug der zugeteilten Stunden für Aufgaben
  mit Stundenplan lag ein Fehler vor. Dadurch wurden ZU VIELE Stunden
  als zugteilt ausgewiesen. Dies betraff insbesondere emails mit der
  Aufforderung, eine weitere Meldung abzugeben. Das sollte jetzt
  behoben sein. </li>
  <li> 11.2.2015: Bei Profiländerung wird Vorstand informiert, um
  Datenbestand konsistent zu halten. </li>
  <li> 11.2.2015: Liste der email-Templates abrufbar für Vorstand. </li>
  <li> 9.2.2015: Zuteilungen in Vorstandsansicht gefiltert werden nach
  "Aufgaben mit unzureichender Zuteilung". Auch direkt von Home aus
  ansteuerbar. Dort auch direkte Links zu unterschiedlichen
  Vor-Filterung, auch nach Aufgabengruppen separat.  </li>
  <li> 7.2.2015: Das Zurückziehen von Meldungen sollte jetzt
  funktionieren. Einfach bei einer schon erfoglten Meldung die
  Präferenz auf "Nein" setzen. </li>
  <li> 7.2.2015: Paginierung in verschiedenen Tabelle abgeschaltet! D.h., alle Zeilen einer Tabelle
  werden auf einmal angezeigt. Das ist langsam, aber
  verlässlicher. Paginierung führt in mehreren Tabellen zu reichlich
  Problemen. Kommt evtl. später wieder. </li>
</ul>

<p>

<h3> Impressum </h3>

Kontakt: Holger Karl, hkarl@ieee.org

Diese Anwendung wäre nicht möglich ohne die folgenden Werkzeuge der Open-Source-Community:
<ul>
  <li> <a href="http://aquamacs.org/"> Emacs </a>  </li>
  <li> <a href="https://www.python.org/"> Python </a> </li>
  <li> <a href="https://www.djangoproject.com/"> Django </a> </li> (mit zahlreichen Erweiterungen, insbesondere tables2, post_office, crispy_forms, impersonate)
  <li> <a href="http://getbootstrap.com/"> Bootstrap </a> </li> (mit zahlreichen Erweiterungen, u.a. <a href="http://fortawesome.github.io/Font-Awesome//">Font Awesome</a>) 
</ul>

<p>


{% endblock %}
