{% extends "bootstrap/bootstrap_base.html" %}

{% block branding %}
Datenschutzerklärung
{% endblock %}


{% block content%}

<h3>Datenschutzerklärung</h3>


<h4 id="dsg-general-intro"></h4><p>

Diese Datenschutzerklärung klärt Sie über die Art, den Umfang und
Zweck der Verarbeitung von personenbezogenen Daten (nachfolgend kurz
„Daten“) innerhalb unseres Onlineangebotes <b><a
href="https://www.svpb.de">mein.svpb.de</a> </b> auf. Dieses
Onelineangebot richtig sich lediglich und ausschliesslich an
Mitglieder des Segelvereins Paderborn (SVPB) im sinne der
Vereinssatzung.  Sollten Sie kein
Mitglied sein, haben Sie kein Recht, dieses Angebot zu
benutzen. Tatsächlich ist dann davon auszugehen, dass Sie selbst diese
Datenschutzerklärung widerrechtlich lesen und dies umgehend einstellen
sollten.

<p> Die Datenschutzerklärung der allgemeinen Vereins-Webseite sowie
der damit verbundenen Webseiten, Funktionen und Inhalte sowie externen
Onlinepräsenzen, wie z.B. unser Social Media Profile auf (nachfolgend
gemeinsam bezeichnet als „Vereins-Onlineangebot“) findet sich <a
href="https://www.svpb.de/datenschutzerklaerung/"> separat</a>.

<p> Im Hinblick auf die
verwendeten Begrifflichkeiten, wie z.B. „Verarbeitung“ oder
„Verantwortlicher“ verweisen wir auf die Definitionen im Art. 4 der
Datenschutzgrundverordnung (DSGVO).

<p> Als allgemeine Vorbemerkung sei noch vorausgeschickt, dass dieses
Angebot mein.svpb.de von Laien (insbesondere juristischen Laien)
betrieben wird. Dennoch bemühen wir uns, Artikel 12 der DSGVO
einzuhalten, der zu "präziser, transparenter, verständlicher und
leicht zugänglicher Form [und] einer klaren und einfachen Sprache"
auffordert. Dementsprechend ist diese Datenschutzerklärung aus einem
<a href="https://datenschutz-generator.de" class="dsg1-5"
rel="nofollow" target="_blank">Datenschutzgenerator</a> erzeugt aber
dann umfangreich modifziert und angepasst worden, in der Hoffnung, den
Text verständlicher und zugänglicher zu machen. Kurz: hier folgt
Klartext, gemischt mit Juristendeutsch.

</p><h4 id="dsg-general-controller">Verantwortlicher</h4><p><span class="tsmcontroller">Segelverein Paderborn (SVPB) e.V. <br>
vertreten durch den Vorstand </span></p>

<h4> Zweck des Onlineangebots mein.svpb.de  und der darin
stattfindenen Datenverarbeitung </h4>

Der Zweck dieses Angebots ist die Organisation des
sog. Arbeitsdienstes des SVPB e.V. im Sinne der Vereinssatzung. Hierzu
werden  personen- wie aufgabenbezogene Daten erfasst, die zur
Organisation des Vereinslebens und des Arbeitsdienstes notwendig
sind.

<p>
Zusätzlich wird die Reservierung der Vereinsboote über dieses
Online-Angebot abgewickelt. Dies ist vom Arbeitsplan unabhängig. Wer
Boote nicht reservieren will kann das einfach ignorieren.

<p> Weitere Funktionen sind derzeit in einem frühen Planungsstadium
(etwa: such nach Segelpartnern), können aber mangels Arbeitszeit nicht
umgesetzt werden. In jedem Fall sind dies (wie auch die
Bootsreservierung) unabhängige Funktionen, die man nutzen kann oder
halt nicht. Wenn man es nutzt darf man sich nicht wundern wenn Daten
gespeichert werden. Wenn man das nicht möchte sollte man diese
Zusatzfunktionen besser nicht nutzen!
<p>

Im Rahmen dieser Fuktionen findet auch Kommunikation mit Nutzern und
Vereinsmitgliedern statt (z.B. Erinnerungsemail, wenn eine Aufgabe
bevorsteht).

<p> Wir machen insbesondere keine Werbung, keine Reichweitenmessung,
oder ähnliches.

Der gesamte Quellcode dieses Angebots ist <a
href="https://github.com/hkarl/svpb">online öffentlich
verfügbar</a>
und kann eingesehen werden (für den technisch Interessierten: im
live-System wird der Master-Branch genutzt; andere Branches dienen nur
der Entwicklung).

<h4 id="dsg-general-datatype">Arten der verarbeiteten Daten:</h4>
<p>

Wir speichern das, was wir brauchen, um Arbeitsdienst und Boote (und
evtl. weitere Funktionen in der Zukunft)  zu
verwalten. Mehr aber auch nicht.  Genauer:

<ul>
  <li>Personenbezogene Daten</li>
  <ul>
    <li> Bestandsdaten (z.B., Namen, Vornamen und Mitgliedsnummer,
  Vereinsstatus -- als Vorstand, Teamleiter, oder ähnliches).
    </li>
    <li> Kontaktdaten (z.B., E-Mail, Telefonnummern). </li>
    <li> Inhaltsdaten (z.B., Texteingaben, Meldungen für Aufgaben,
  geleistete und zu erbringende Arbeitsstuden, Kommunikation mit
  Vorstand dazu). </li>
    <li> Nutzungsdaten (z.B., besuchte Webseiten, Interesse an
  Inhalten, Zugriffszeiten); insbesondere im Kontext der Fehlersuche </li>
  </ul>
  <li> Aufgabenbezogene Daten, z.B.:   </li>
  <ul>
    <li>Welche Aufgaben gibt es, in welche
  Gruppe gehören sie, wer ist verantwortlicher Teamleiter oder
  Vorstand? Wann findet sie statt? </li>
    <li>Wer hat sich auf eine Aufgabe gemeldet? </li>
    <li>Wem wurde eine Aufgabe zugeteilt? </li>
    <li>Wurde sie erledigt, in welchem Umfang? </li>
  </ul>
  <li> Bootsbezogene Daten </li>
  <ul>
    <li>Welche Bootstypen und Boote gibt es?</li>
    <li>Wem gehört ein Boot? Foto? </li>
    <li>Wann ist ein bestimmtes Boot durch wen reserviert?</li>
  </ul>
  <li>	Meta-/Kommunikationsdaten (z.B., Geräte-Informationen,
  IP-Adressen). </li>
</ul>

  </p>
Wir behalten uns vor, im Sinne neuer Funktionen weitere Daten zu
erfassen und zu speichern. Natürlich wird dies dann hier aufgeführt.
<p>

In der Regel sind diese Daten auf das live-System beschränkt.
Im Rahmen von Test und Entwicklung neuer Fuktionen und zur Fehlersuche
kann es kurzzeitig vorkommen, dass solche Daten auch in Testsystemen
benutzt werden.
<p>



Für Details: siehe die Dateien models.py im github Repository!

<h4 id="dsg-general-datasubjects">Kategorien betroffener Personen</h4>

<p>Besucher und Nutzer des Onlineangebotes (Nachfolgend bezeichnen wir
die betroffenen Personen zusammenfassend auch als „Nutzer“).  Wir
wiederholen nochmal: NUR Vereinsmitglieder im Sinne der Satzung! <br>
</p>

<h4 id="dsg-general-terms">Verwendete Begrifflichkeiten </h4>

(Es folgen juristische Definitionen.)

<p>„Personenbezogene Daten“ sind alle Informationen, die sich auf eine
identifizierte oder identifizierbare natürliche Person (im Folgenden
„betroffene Person“) beziehen; als identifizierbar wird eine
natürliche Person angesehen, die direkt oder indirekt, insbesondere
mittels Zuordnung zu einer Kennung wie einem Namen, zu einer
Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie)
oder zu einem oder mehreren besonderen Merkmalen identifiziert werden
kann, die Ausdruck der physischen, physiologischen, genetischen,
psychischen, wirtschaftlichen, kulturellen oder sozialen Identität
dieser natürlichen Person sind.<br>

„Verarbeitung“ ist jeder mit oder ohne Hilfe automatisierter Verfahren
ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit
personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch
jeden Umgang mit Daten.<br> <br>

„Pseudonymisierung“ ist die Verarbeitung personenbezogener Daten in einer
Weise, dass die personenbezogenen Daten ohne Hinzuziehung zusätzlicher
Informationen nicht mehr einer spezifischen betroffenen Person
zugeordnet werden können, sofern diese zusätzlichen Informationen
gesondert aufbewahrt werden und technischen und organisatorischen
Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen
Daten nicht einer identifizierten oder identifizierbaren natürlichen
Person zugewiesen werden.

<br> Anmerkung für mein.svpb.de: Wir
pseudonymisieren nicht; das würde den Zweck des onlineangebots
widersprechen.

<br>
„Profiling“ jede Art der automatisierten Verarbeitung
personenbezogener Daten, die darin besteht, dass diese
personenbezogenen Daten verwendet werden, um bestimmte persönliche
Aspekte, die sich auf eine natürliche Person beziehen, zu bewerten,
insbesondere um Aspekte bezüglich Arbeitsleistung, wirtschaftliche
Lage, Gesundheit, persönliche Vorlieben, Interessen, Zuverlässigkeit,
Verhalten, Aufenthaltsort oder Ortswechsel dieser natürlichen Person
zu analysieren oder vorherzusagen.

<br> Anmerkung für mein.svpb.de: Wir machen in diesem Sinne natürlich
profiling; es geht ja unter anderem um die Erfassung der nach Satzung
zu erbringenden Arbeitsleistung!

<br>
Als „Verantwortlicher“ wird die natürliche oder juristische Person,
Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit
anderen über die Zwecke und Mittel der Verarbeitung von
personenbezogenen Daten entscheidet, bezeichnet.

<br> Anmerkung für mein.svpb.de: Das ist der Vorstand des Vereins.

<br>
„Auftragsverarbeiter“ eine natürliche oder juristische Person,
Behörde, Einrichtung oder andere Stelle, die personenbezogene Daten im
Auftrag des Verantwortlichen verarbeitet.

<br> Anmerkung für mein.svpb.de: Derzeit (Stand Mai 2018) findet die
Verarbeitung der Daten in einer virtuellen Maschine bei deltamedia.de
statt.

</p><h4 id="dsg-general-legalbasis">Maßgebliche Rechtsgrundlagen</h4>

<p>Nach Maßgabe des Art. 13 DSGVO teilen wir Ihnen die
Rechtsgrundlagen unserer Datenverarbeitungen mit. Sofern die
Rechtsgrundlage in der Datenschutzerklärung nicht genannt wird, gilt
Folgendes: Die Rechtsgrundlage für die Einholung von Einwilligungen
ist Art. 6 Abs. 1 lit. a und Art. 7 DSGVO, die Rechtsgrundlage für die
Verarbeitung zur Erfüllung unserer Leistungen und Durchführung
vertraglicher Maßnahmen sowie Beantwortung von Anfragen ist Art. 6
Abs. 1 lit. b DSGVO, die Rechtsgrundlage für die Verarbeitung zur
Erfüllung unserer rechtlichen Verpflichtungen ist Art. 6 Abs. 1 lit. c
DSGVO, und die Rechtsgrundlage für die Verarbeitung zur Wahrung
unserer berechtigten Interessen ist Art. 6 Abs. 1 lit. f DSGVO. Für
den Fall, dass lebenswichtige Interessen der betroffenen Person oder
einer anderen natürlichen Person eine Verarbeitung personenbezogener
Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als
Rechtsgrundlage.</p>

<br> Anmerkung für mein.svpb.de: Mit Anmeldung zu diesem Dienst haben
Sie uns die notwendige Einwilligung durch konkuludentes Handeln
erteilt.

<h4 id="dsg-general-securitymeasures">Sicherheitsmaßnahmen</h4>

<p>Wir treffen nach Maßgabe des Art. 32 DSGVO unter Berücksichtigung
des Stands der Technik, der Implementierungskosten und der Art, des
Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
unterschiedlichen Eintrittswahrscheinlichkeit und Schwere des Risikos
für die Rechte und Freiheiten natürlicher Personen, geeignete
technische und organisatorische Maßnahmen, um ein dem Risiko
angemessenes Schutzniveau zu gewährleisten.

<br> Zu den Maßnahmen
gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und
Verfügbarkeit von Daten durch Kontrolle des physischen Zugangs zu den
Daten, als auch des sie betreffenden Zugriffs, der Eingabe,
Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des
Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung von
Betroffenenrechten, Löschung von Daten und Reaktion auf Gefährdung der
Daten gewährleisten. Ferner berücksichtigen wir den Schutz
personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl von
Hardware, Software sowie Verfahren, entsprechend dem Prinzip des
Datenschutzes durch Technikgestaltung und durch datenschutzfreundliche
Voreinstellungen (Art. 25 DSGVO).<br> </p>

<br> Anmerkung für mein.svpb.de: Soweit dies im Rahmen freiwilliger
Entwicklungstätigkeiten möglich ist. Insbesondere ist ein Löschen von
Daten möglich; damit erlischt aber die Möglichkeit zur Teilnahme an
mein.svpb.de und damit die Möglichkeit, Arbeitsdienst zu erbringen. In
diesem Fall sieht die Vereinssatzung Ausgleichszahlungen vor.


<h4 id="dsg-general-coprocessing">Zusammenarbeit mit Auftragsverarbeitern
und Dritten</h4>

<p>Sofern wir im Rahmen unserer Verarbeitung Daten gegenüber anderen
Personen und Unternehmen (Auftragsverarbeitern oder Dritten)
offenbaren, sie an diese übermitteln oder ihnen sonst Zugriff auf die
Daten gewähren, erfolgt dies nur auf Grundlage einer gesetzlichen
Erlaubnis (z.B. wenn eine Übermittlung der Daten an Dritte, wie an
Zahlungsdienstleister, gem. Art. 6 Abs. 1 lit. b DSGVO zur
Vertragserfüllung erforderlich ist), Sie eingewilligt haben, eine
rechtliche Verpflichtung dies vorsieht oder auf Grundlage unserer
berechtigten Interessen (z.B. beim Einsatz von Beauftragten,
Webhostern, etc.). <br>

<br> Anmerkung für mein.svpb.de: Konkret heißt das für mein.svpb.de,
dass wir die Daten bei einem Webhoster (Stand Mai 2018. deltmedia.de)
ablegen. Weiterhin werden Daten per email versandt
(z.B. Erinnerungsemails) und in diesem Kontext werden Daten z.B. den
email-Serverbetreibern bekannt. Was ja auch nicht anders zu erwarten
ist.

Sofern wir Dritte mit der Verarbeitung
von Daten auf Grundlage eines sog. „Auftragsverarbeitungsvertrages“
beauftragen, geschieht dies auf Grundlage des Art. 28 DSGVO.</p>

<h4 id="dsg-general-thirdparty">Übermittlungen in
Drittländer</h4>

<br> Anmerkung für mein.svpb.de: Nach bestem Wissen findet eine
Übertragung in Drittländer nur statt, wenn aus einem Drittland heraus
auf die Webseite zugegriffen wird oder emails über ein Drittland
transportiert werden. Auch das ist nicht anders zu erwarten: Wenn Sie
auf die Webseite aus einem Drittland heraus zugreifen, müssen die
Daten in das Drittland transportiert werden. Es ist
insbesondere derzeit nicht geplant, Webhoster ausserhalb des
Geltungsbereichs der DSGVO zu nutzen.

<p>Sofern wir Daten in einem Drittland (d.h. außerhalb der
Europäischen Union (EU) oder des Europäischen Wirtschaftsraums (EWR))
verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten
Dritter oder Offenlegung, bzw. Übermittlung von Daten an Dritte
geschieht, erfolgt dies nur, wenn es zur Erfüllung unserer
(vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung,
aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer
berechtigten Interessen geschieht. Vorbehaltlich gesetzlicher oder
vertraglicher Erlaubnisse, verarbeiten oder lassen wir die Daten in
einem Drittland nur beim Vorliegen der besonderen Voraussetzungen der
Art. 44 ff. DSGVO verarbeiten. D.h. die Verarbeitung erfolgt z.B. auf
Grundlage besonderer Garantien, wie der offiziell anerkannten
Feststellung eines der EU entsprechenden Datenschutzniveaus (z.B. für
die USA durch das „Privacy Shield“) oder Beachtung offiziell
anerkannter spezieller vertraglicher Verpflichtungen (so genannte
„Standardvertragsklauseln“).</p>

<h4 id="dsg-general-rightssubject">Rechte der betroffenen
Personen</h4>

<p>Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob
betreffende Daten verarbeitet werden und auf Auskunft über diese Daten
sowie auf weitere Informationen und Kopie der Daten entsprechend
Art. 15 DSGVO.<br>

Sie haben entsprechend. Art. 16 DSGVO das Recht, die Vervollständigung
der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden
unrichtigen Daten zu verlangen.<br>

<br> Anmerkung für mein.svpb.de: Sie können dies selbst tun, indem Sie
ihr Profil in der webseite editieren. Wir bitten dringend darum!
<br>

Sie haben nach Maßgabe des Art. 17 DSGVO das Recht zu verlangen, dass
betreffende Daten unverzüglich gelöscht werden, bzw. alternativ nach
Maßgabe des Art. 18 DSGVO eine Einschränkung der Verarbeitung der
Daten zu verlangen.<br>

<br> Anmerkung für mein.svpb.de: Selbstverständlich, aber siehe oben:
Dann ist keine Teilnahme an mein.svpb.de mehr möglich.
<br>


Sie haben das Recht zu verlangen, dass die Sie betreffenden Daten, die
Sie uns bereitgestellt haben nach Maßgabe des Art. 20 DSGVO zu
erhalten und deren Übermittlung an andere Verantwortliche zu
fordern. <br>

Sie haben ferner gem. Art. 77 DSGVO das Recht, eine Beschwerde bei der
zuständigen Aufsichtsbehörde einzureichen.</p>

<h4 id="dsg-general-revokeconsent">Widerrufsrecht</h4>

<p>Sie haben das Recht, erteilte Einwilligungen gem. Art. 7 Abs. 3
DSGVO mit Wirkung für die Zukunft zu widerrufen</p>

<br> Anmerkung für mein.svpb.de: Selbstverständlich, aber siehe oben:
Dann ist keine Teilnahme an mein.svpb.de mehr möglich.
<br>


<h4 id="dsg-general-object">Widerspruchsrecht</h4>

<p>Sie können der künftigen Verarbeitung der Sie betreffenden Daten
nach Maßgabe des Art. 21 DSGVO jederzeit widersprechen. Der
Widerspruch kann insbesondere gegen die Verarbeitung für Zwecke der
Direktwerbung erfolgen.</p>

<br> Anmerkung für mein.svpb.de: Selbstverständlich, aber siehe oben:
Dann ist keine Teilnahme an mein.svpb.de mehr möglich.  Wir betreiben
keinerlei Werbung mittels oder auf der Grundlage von mein.svpb.de.
<br>


<h4 id="dsg-general-cookies">Cookies und Widerspruchsrecht bei
Direktwerbung</h4>

<p>Als „Cookies“ werden kleine Dateien bezeichnet, die auf Rechnern
der Nutzer gespeichert werden. Innerhalb der Cookies können
unterschiedliche Angaben gespeichert werden. Ein Cookie dient primär
dazu, die Angaben zu einem Nutzer (bzw. dem Gerät auf dem das Cookie
gespeichert ist) während oder auch nach seinem Besuch innerhalb eines
Onlineangebotes zu speichern. Als temporäre Cookies,
bzw. „Session-Cookies“ oder „transiente Cookies“, werden Cookies
bezeichnet, die gelöscht werden, nachdem ein Nutzer ein Onlineangebot
verlässt und seinen Browser schließt. In einem solchen Cookie kann
z.B. der Inhalt eines Warenkorbs in einem Onlineshop oder ein
Login-Status gespeichert werden. Als „permanent“ oder „persistent“
werden Cookies bezeichnet, die auch nach dem Schließen des Browsers
gespeichert bleiben. So kann z.B. der Login-Status gespeichert werden,
wenn die Nutzer diese nach mehreren Tagen aufsuchen. Ebenso können in
einem solchen Cookie die Interessen der Nutzer gespeichert werden, die
für Reichweitenmessung oder Marketingzwecke verwendet werden. Als
„Third-Party-Cookie“ werden Cookies bezeichnet, die von anderen
Anbietern als dem Verantwortlichen, der das Onlineangebot betreibt,
angeboten werden (andernfalls, wenn es nur dessen Cookies sind spricht
man von „First-Party Cookies“).<br>

Wir können temporäre und permanente Cookies einsetzen und klären
hierüber im Rahmen unserer Datenschutzerklärung auf.<br>


Falls die Nutzer nicht möchten, dass Cookies auf ihrem Rechner
gespeichert werden, werden sie gebeten, die entsprechende Option in den
Systemeinstellungen ihres Browsers zu deaktivieren. Gespeicherte
Cookies können in den Systemeinstellungen des Browsers gelöscht
werden. Der Ausschluss von Cookies kann zu Funktionseinschränkungen
dieses Onlineangebotes führen.<br>

Ein genereller Widerspruch gegen den Einsatz der zu Zwecken des
Onlinemarketing eingesetzten Cookies kann bei einer Vielzahl der
Dienste, vor allem im Fall des Trackings, über die US-amerikanische
Seite <a
href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a>
oder die EU-Seite <a
href="http://www.youronlinechoices.com/">http://www.youronlinechoices.com/</a>
erklärt werden. Des Weiteren kann die Speicherung von Cookies mittels
deren Abschaltung in den Einstellungen des Browsers erreicht
werden. Bitte beachten Sie, dass dann gegebenenfalls nicht alle
Funktionen dieses Onlineangebotes genutzt werden können.</p>

<br> Anmerkung für mein.svpb.de: Wir betrieben kein Online-Marketing
und nutzen entsprechend keine Cookies dafür. Cookies können technisch
zur Realisierung einer Sitzung bei mein.svpb.de zum Einsatz kommen.
<br>


<h4 id="dsg-general-erasure">Löschung von Daten</h4>

<p>Die von uns
verarbeiteten Daten werden nach Maßgabe der Art. 17 und 18 DSGVO
gelöscht oder in ihrer Verarbeitung eingeschränkt. Sofern nicht im
Rahmen dieser Datenschutzerklärung ausdrücklich angegeben, werden die
bei uns gespeicherten Daten gelöscht, sobald sie für ihre
Zweckbestimmung nicht mehr erforderlich sind und der Löschung keine
gesetzlichen Aufbewahrungspflichten entgegenstehen. Sofern die Daten
nicht gelöscht werden, weil sie für andere und gesetzlich zulässige
Zwecke erforderlich sind, wird deren Verarbeitung
eingeschränkt. D.h. die Daten werden gesperrt und nicht für andere
Zwecke verarbeitet. Das gilt z.B. für Daten, die aus handels- oder
steuerrechtlichen Gründen aufbewahrt werden müssen.<br>

Nach gesetzlichen Vorgaben in Deutschland, erfolgt die Aufbewahrung
insbesondere für 10 Jahre gemäß §§ 147 Abs. 1 AO, 257 Abs. 1 Nr. 1 und
4, Abs. 4 HGB (Bücher, Aufzeichnungen, Lageberichte, Buchungsbelege,
Handelsbücher, für Besteuerung relevanter Unterlagen, etc.) und 6
Jahre gemäß § 257 Abs. 1 Nr. 2 und 3, Abs. 4 HGB (Handelsbriefe).



<h4 id="dsg-organisation"> Erbringung unserer
satzungsgemäßen Leistungen</h4>


<p></p><p><span
class="ts-muster-content">Wir verarbeiten die Daten unserer
Mitglieder entsprechend Art. 6 Abs. 1 lit. b. DSGVO, sofern wir ihnen
gegenüber vertragliche Leistungen anbieten oder im Rahmen bestehender
geschäftlicher Beziehung, z.B. gegenüber Mitgliedern, tätig werden
oder selbst Empfänger von Leistungen und Zuwendungen sind. Im Übrigen
verarbeiten wir die Daten betroffener Personen gem. Art. 6 Abs. 1
lit. f. DSGVO auf Grundlage unserer berechtigten Interessen, z.B. wenn
es sich um administrative Aufgaben oder Öffentlichkeitsarbeit
handelt.<br> <br>

Die hierbei verarbeiteten Daten, die Art, der Umfang
und der Zweck und die Erforderlichkeit ihrer Verarbeitung bestimmen
sich nach dem zugrundeliegenden Vertragsverhältnis. Dazu gehören
grundsätzlich Bestands- und Stammdaten der Personen (z.B., Name,
Adresse, etc.), als auch die Kontaktdaten (z.B., E-Mailadresse,
Telefon, etc.), die Vertragsdaten (z.B., in Anspruch genommene
Leistungen, mitgeteilte Inhalte und Informationen, Namen von
Kontaktpersonen) und sofern wir zahlungspflichtige Leistungen oder
Produkte anbieten, Zahlungsdaten (z.B., Bankverbindung,
Zahlungshistorie, etc.).<br>

Wir löschen Daten, die zur
Erbringung unserer satzungs- und geschäftsmäßigen Zwecke nicht mehr
erforderlich sind. Dies bestimmt sich entsprechend der jeweiligen
Aufgaben und vertraglichen Beziehungen. Im Fall geschäftlicher
Verarbeitung bewahren wir die Daten so lange auf, wie sie zur
Geschäftsabwicklung, als auch im Hinblick auf etwaige Gewährleistungs-
oder Haftungspflichten relevant sein können. Die Erforderlichkeit der
Aufbewahrung der Daten wird alle drei Jahre überprüft; im Übrigen
gelten die gesetzlichen Aufbewahrungspflichten.</span></p><p></p>

<h4 id="dsg-registration">Registrierfunktion</h4><p></p>

<p><span class="ts-muster-content">Nutzer müssen für die Nutzung von
mein.svpb ein Nutzerkonto anlegen. Im Rahmen der Registrierung werden
die erforderlichen Pflichtangaben den Nutzern mitgeteilt und auf
Grundlage des Art. 6 Abs. 1 lit. b DSGVO zu Zwecken der Bereitstellung
des Nutzerkontos verarbeitet. Zu den verarbeiteten Daten gehören
insbesondere die Login-Informationen (Name bzw. Mitgliedsnummer,
Passwort sowie eine E-Mailadresse). Die im Rahmen der Registrierung
eingegebenen Daten werden für die Zwecke der Nutzung des Nutzerkontos
und dessen Zwecks verwendet. <br>

Die Nutzer können über Informationen, die für deren Nutzerkonto
relevant sind, wie z.B. technische Änderungen, per E-Mail informiert
werden. Wenn Nutzer ihr Nutzerkonto gekündigt haben, werden deren
Daten im Hinblick auf das Nutzerkonto, vorbehaltlich einer
gesetzlichen Aufbewahrungspflicht, gelöscht. Es obliegt den Nutzern,
ihre Daten bei erfolgter Kündigung vor dem Vertragsende zu
sichern. Wir sind berechtigt, sämtliche während der Vertragsdauer
gespeicherten Daten des Nutzers unwiederbringlich zu löschen.<br>

Im Rahmen der Inanspruchnahme unserer Registrierungs- und
Anmeldefunktionen sowie der Nutzung des Nutzerkontos speichern wir
unter Umständen (insbesondere zur Fehlersuche) die IP-Adresse und den
Zeitpunkt der jeweiligen Nutzerhandlung. Die Speicherung erfolgt auf
Grundlage unserer berechtigten Interessen, als auch der Nutzer als
Schutz vor Missbrauch und sonstiger unbefugter Nutzung. Eine
Weitergabe dieser Daten an Dritte erfolgt grundsätzlich nicht, außer
sie ist zur Verfolgung unserer Ansprüche erforderlich oder es besteht
hierzu besteht eine gesetzliche Verpflichtung gem. Art. 6 Abs. 1
lit. c DSGVO. Die IP-Adressen werden spätestens nach 7 Tagen
anonymisiert oder gelöscht.<br> </span></p><p></p>

<h4 id="dsg-contact">Kontaktaufnahme</h4><p></p>

<p><span class="ts-muster-content">Bei der Kontaktaufnahme mit uns (z.B. per
Kontaktformular, E-Mail, Telefon oder via sozialer Medien) werden die
Angaben des Nutzers zur Bearbeitung der Kontaktanfrage und deren
Abwicklung gem. Art. 6 Abs. 1 lit. b) DSGVO verarbeitet. Die Angaben
der Nutzer können in einem Customer-Relationship-Management System
("CRM System") oder vergleichbarer Anfragenorganisation gespeichert
werden.<br> <br> Wir löschen die Anfragen, sofern diese nicht mehr
erforderlich sind. Wir überprüfen die Erforderlichkeit alle zwei
Jahre; ferner gelten die gesetzlichen
Archivierungspflichten.</span></p><p></p>

<h4 id="dsg-hostingprovider">Hosting und
E-Mail-Versand</h4><p></p>

<p><span class="ts-muster-content">Die von
uns in Anspruch genommenen Hosting-Leistungen dienen der
Zurverfügungstellung der folgenden Leistungen: Infrastruktur- und
Plattformdienstleistungen, Rechenkapazität, Speicherplatz und
Datenbankdienste, E-Mail-Versand, Sicherheitsleistungen sowie
technische Wartungsleistungen, die wir zum Zwecke des Betriebs dieses
Onlineangebotes einsetzen. <br>

Hierbei verarbeiten wir
bzw. unser Hostinganbieter Bestandsdaten, Kontaktdaten, Inhaltsdaten,
Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von
Kunden, Interessenten und Besuchern dieses Onlineangebotes auf
Grundlage unserer berechtigten Interessen an einer effizienten und
sicheren Zurverfügungstellung dieses Onlineangebotes gem. Art. 6
Abs. 1 lit. f DSGVO i.V.m. Art. 28 DSGVO (Abschluss
Auftragsverarbeitungsvertrag).</span></p><p></p>

<h4 id="dsg-logfiles">Erhebung von Zugriffsdaten und
Logfiles</h4><p></p>

<p><span class="ts-muster-content">Wir, bzw. unser Hostinganbieter,
können auf Grundlage unserer berechtigten Interessen im Sinne des
Art. 6 Abs. 1 lit. f. DSGVO Daten über jeden Zugriff auf den Server,
auf dem sich dieser Dienst befindet (sogenannte Serverlogfiles)
erheben. Zu den Zugriffsdaten gehören Name der abgerufenen Webseite
bzw. der durchgeführten Anfrage bzw. der abgerufenen Datei, Datum und
Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen
Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers,
Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende
Provider.<br>

Logfile-Informationen
werden aus Sicherheitsgründen (z.B. zur Aufklärung von Missbrauchs-
oder Betrugshandlungen) für die Dauer von maximal 7 Tagen gespeichert
und danach gelöscht. Daten, deren weitere Aufbewahrung zu
Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des
jeweiligen Vorfalls von der Löschung ausgenommen.</span></p>


<a href="https://datenschutz-generator.de" class="dsg1-5"
rel="nofollow" target="_blank">Erstellt mit Datenschutz-Generator.de
von RA Dr. Thomas Schwenke</a>, umfangreich modifiziert von Holger
Karl.

<h3> Impressum </h3>

Kontakt: Holger Karl, hkarl@ieee.org


<p>


{% endblock %}
