{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}

{% load render_table from django_tables2 %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "admin/css/screen.css" %}" />
{% endblock %}
   

{% block branding %}
Zuteilung von Aufgaben an Mitglieder 
{% endblock %}



{% block content %}

<form method="POST" action=".">
{% csrf_token %}

{% render_table table %}
<br>
<input type=submit name="zuteilen" value="Zuteilungen eintragen">
<input type="hidden" name="status" value="{{status}}">

{% comment %}
<br>
<input type=submit name="apply" value="Checkboxen anwenden">
{% endcomment %}
</form> 

{% endblock %} 

<!-- hhmts start -->Last modified: Sun Apr 27 17:15:04 CEST 2014 <!-- hhmts end -->

