{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
{{title}}
{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
  {{ message }}
</div>
  {% endfor %}
{% endif %}


{% if msg %}
<div class="alert alert-{{msgclass}}">
  {{ msg }}
</div>
<p>
{% endif %}

{% crispy filterform %}
<p>
{% render_table object_list  %}


{% endblock %}
