{% extends "arbeitsplan_tff.html" %}
{% load staticfiles %}



{% block prefilter %}

<h3>Zusammenfassung Ihrer Leistungen </h3>

<ul>
 
{% for i in leistungSummary %}
  <li>  {{i.1}}:
  {% if i.3 %}
  {{i.3}} Stunden 
  {% else %}
  --
  {% endif %}
  </li>
{% endfor %}

  <p>
  <p>

{% if leistungSummary.2.3  >= leistungSummary.0.3 %}
  Damit haben Sie Ihr Arbeitssoll für dieses Jahr erfüllt!
{% else %}
  Noch haben Sie Ihr Arbeitssoll nicht erfüllt.
{% endif %}  
  
</ul>



{% endblock %} 


