{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% load render_table from django_tables2 %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "admin/css/screen.css" %}" />
{% endblock %}
   

{% block branding %}
Zuteilung von Aufgaben an Mitglieder 
{% endblock %}



{% block content %}

<h3> Tabelle filtern </h3>

{% crispy filter %} 

{% comment %}
<form method="GET" action=".">
{% csrf_token %}
{{ filter }}
<input type=submit name="filter" value="Filter anwenden">
</form> 
<p>
{% endcomment %}

<h3> Zuteilungen eintragen </h3>

<form method="POST" action=".">
{% csrf_token %}

{% render_table table %}
<br>
<input type=submit class="btn btn-primary" name="zuteilen" value="Zuteilungen eintragen">
<input type="hidden" name="status" value="{{status}}">

{% comment %}
<br>
<input type=submit name="apply" value="Checkboxen anwenden">
{% endcomment %}
</form> 

{% endblock %} 


