{% extends "admin/base_site.html" %} 
{% load staticfiles %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "admin/css/screen.css" %}" />

{% comment %}
<link rel="stylesheet" href="{% static "uni_form/uni-form.css"%}" type="text/css" />
<link rel="stylesheet" href="{% static "uni_form/default.uni-form.css"%}" type="text/css" />
{% endcomment %}

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}" type="text/css" />


{% endblock %}
   

{% block branding %}
<h1> Saldenübersicht der geleisteten Arbeitsstunden  </h1>
{% endblock %}



{% block content %}


<script src="{% static "jquery/jquery.js"%}" type="text/javascript"></script>


{% comment %}
<script src="{% static "uni_form/uni-form.jquery.js"%}" type="text/javascript"></script>
{% endcomment %}
<script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>

{% crispy filterform %}
<p>

{% render_table salden %}
{% comment %}
<form method="POST" action=".">
{% csrf_token %}
<br>
<input type=submit name="apply" value="Checkboxen anwenden">
<input type=submit name="filter" value="Filter anwenden">
{% endcomment %}
</form> 

{% endblock %} 

<!-- hhmts start -->Last modified: Sat Apr 26 12:52:44 CEST 2014 <!-- hhmts end -->

