<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>{% extends "admin/base_site.html" %}
{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Alle Meldungen</title>
</head>

<body>
{% block branding %}
<h1>Alle Meldungen anzeigen</h1>
{% endblock %}

{% block content %}




<ul>
{% for z in object_list %}
  <li>  {{ z }} </li>
{% endfor %} 
</ul>
{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Sat Mar 29 20:43:30 CET 2014 <!-- hhmts end -->
</body> </html>
</title>
</head>

<body>
<h1></h1>



<hr>
<address></address>
<!-- hhmts start -->Last modified: Sun Apr  6 09:12:46 CEST 2014 <!-- hhmts end -->
</body> </html>
