{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block branding %}
Arbeitsleistung eingeben
{% endblock %}


{% block content %}

Wir freuen uns, dass Sie durch eine Arbeitsleistung zum Vereinsleben beigetragen haben. Bitte geben Sie hier eine Beschreibung ein, damit Ihnen die Stunden gutgeschrieben werden können.
<p>


{% crispy form %}

{% comment %}
<form action="{% url 'arbeitsplan-leistung' %}" method="post" >
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Eintragen" />
</form>
{% endcomment %}

{% endblock %} 

<!-- hhmts start -->Last modified: Mon Apr 28 20:08:19 CEST 2014 <!-- hhmts end -->

