{% extends "bootstrap/bootstrap_arbeit.html" %}
{% load staticfiles %}

{% load l10n %}

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Meldungen eintragen</title>
</head>

<body>
{% block branding %}
<h1>Meldungen eintragen oder ändern</h1>
{% endblock %}

{% block content %}


{% localize on %} 

Bitte setzen Sie einen Haken bei den Aufgaben, an denen Sie sich beteiligen möchten:
<p> 

<form method="POST" action=".">
{% csrf_token %}
 <ul>
 {% for g in groups %}
   <li> {{ g.1 }}
     <ul>
       {% for a in g.2 %}
          <li>
          {{ a.1 }}
          {% if a.2 %}
          , {{ a.2 }}
          {% endif %}
          <input id="id_g{{g.0}}_a{{a.0}}" name="g{{g.0}}_a{{a.0}}" type="checkbox"
             {% if a.3 %}
               checked
             {% endif %}
          />
          </li>
       {% endfor %}
     </ul>
   </li>
 {% endfor %}
  </ul>
<input type=submit>
</form>

{% endlocalize %}
  
{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Sun Apr 27 18:30:23 CEST 2014 <!-- hhmts end -->
</body> </html>
