{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% load l10n %}

{% block branding %}
Gemeldete Leistungen bearbeiten
{% endblock %}

{% block content %}


Bitte akzeptieren, lehnen ab, oder rückfragen Sie die folgenden gemeldeten Leistungen.  Wählen Sie einen neuen Status und tragen ggf. eine Bemerkung ein. 

{# <br>(Es werden hier nur offen Leistungsmeldungen oder solche mit Rückfragen angezeigt.) #} 



<p> 


<p> 

<form method="POST" action=".">
{% csrf_token %}
{% render_table table %}

<input type=submit>
</form>


{% endblock %}

