{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Alle Aufgaben</title>
</head>

<body>
{% block branding %}
Alle vorhandenen Aufgaben anzeigen
{% endblock %}

{% block content %}


Es gibt die folgenden Aufgaben: 
<p>

{% render_table object_list  %}

{% comment %}
<ul>
{% for a in object_list %}
  <li> {{ a.aufgabe }}, {{ a.datum}},
  {{a.verantwortlich.first_name}}  {{a.verantwortlich.last_name}}
  {% if a.bemerkung%}
  , {{ a.bemerkung}}
  {% endif %}
  </li>
{% endfor %} 
</ul>
{% endcomment %}

{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Mon Apr 28 16:54:05 CEST 2014 <!-- hhmts end -->
</body> </html>
