{% extends "bootstrap/bootstrap_arbeit.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block branding %}
Arbeitsleistung eingeben
{% endblock %}


{% block content %}

Wir freuen uns, dass Sie durch eine Arbeitsleistung zum Vereinsleben beigetragen haben. Bitte geben Sie hier eine Beschreibung ein, damit Ihnen die Stunden gutgeschrieben werden können.
<p>

{{ form.errors }}
{{ form.non_field_errors }}


{% crispy form %}

{% comment %}
<form action="{% url 'arbeitsplan-leistung' %}" method="post" >
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Eintragen" />
</form>
{% endcomment %}

{% endblock %} 

<!-- hhmts start -->Last modified: Thu Jun  5 22:10:35 CEST 2014 <!-- hhmts end -->

