{% extends "admin/base_site.html" %}
{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Alle Aufgaben</title>
</head>

<body>
{% block branding %}
<h1>Alle vorhandenen Aufgaben anzeigen</h1>
{% endblock %}

{% block content %}


Es gibt die folgenden Aufgaben: 
<p>

<ul>
{% for a in object_list %}
  <li> {{ a.aufgabe }}, {{ a.datum}},
  {{a.verantwortlich.first_name}}  {{a.verantwortlich.last_name}}
  {% if a.bemerkung%}
  , {{ a.bemerkung}}
  {% endif %}
  </li>
{% endfor %} 
</ul>
{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Sun Apr  6 09:06:47 CEST 2014 <!-- hhmts end -->
</body> </html>
