{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
{{title}}
{% endblock %}

{% block content %}

{% if filtertitle %}
<h3> {{filtertitle}} </h3>
<p>
{% endif %}
{% crispy filterform %}
<p>

{% if tabletitle %}
<h3> {{tabletitle}} </h3>
<p>
{% endif %}

{% if tableform %}
<form method="POST" action=".">
{% csrf_token %}
{% endif %}

{% render_table object_list  %}
{% if tableform %}
<br>
<input type=submit class="btn btn-primary" name="{{tableform.name}}" value="{{tableform.value}}">
{% endif %}


{% endblock %}
