{% extends "bootstrap/bootstrap_base.html" %}
{% load staticfiles %}


{% block branding %}
 Willkommen{% if user.is_authenticated %}, {{user.first_name}}  {{user.last_name}}
{% endif %}!
{% endblock %}

{% block content %}



{% if user.is_authenticated %}

{% if msg %}
<div class="alert alert-{{msgclass}}">
  {{ msg }}
</div>
<p>
{% endif %}



<p>

Ihnen stehen folgende Funktionen zur Verfügung: 
<p>

<div class="row">
  <div class="col-md-6">
    <a href="/arbeitsplan/aufgaben/"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Aufgaben
        </div>
      </div>
      <div class="panel-body">
        Welche Aufgaben gibt es ? 
      </div>
    </div>
    </a>
  </div>
  <div class="col-md-6">
    <a href="/arbeitsplan/meldung/"> 
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          Meldung
        </div>
      </div>
      <div class="panel-body">
        Ich möchte mich für Aufgaben melden. 
      </div>
    </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <a href="/arbeitsplan/zuteilungAnzeige/me/">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          Zuteilung
        </div>
      </div>
      <div class="panel-body">
        Für welche Aufgaben wurde ich eingeteilt? 
      </div>
    </div>
    </a> 
  </div>
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title">
          Leistung
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> <a href="/arbeitsplan/leistung/">Eintragen</a> Ich möchte einen geleisteten Arbeitsdienst eintragen </li>
          <li class="list-group-item"> <a href="/arbeitsplan/leistungListe/">Anzeigen</a> Ich möchte eine Übersicht meiner geleistenen Arbeiten sehen  
        </ul>
      </div>
    </div>
  </div>
</div>

<!--- ########################################### ---!>

{% if  user.teamleader_set.count > 0 %}
<h2> Teamleader-Funktionen </h2>
Wir freuen uns, unsere Teamleader mit  weiteren Funktionen  zu unterstützen
<p> 
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title">
          Leistung
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> <a href="/arbeitsplan/leistungenBearbeiten/z=team/"> Vorliegende Leistungsmeldungen für mein Team bearbeiten </a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% endif %}



<!--- ########################################### ---!>

{% for g in  user.groups.all %}
  {% if g.name == "Vorstand" %}
<h2> Vorstandsfunktionen </h2>
Es ist uns eine besondere Ehre, unseren Vorstandsmitgliedern erweiterte Funktionen anbieten zu dürfen:
<p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Aufgaben und Aufgabengruppen
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> <a href="/arbeitsplan/aufgabeErzeugen/"> Neue Aufgabe anlegen </a> </li>
          <li class="list-group-item">  <a href="/arbeitsplan/aufgaben/"> Aufgaben anzeigen und editieren </a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <a href="/arbeitsplan/meldungVorstand/"> 
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          Meldung
        </div>
      </div>
      <div class="panel-body">
        Existierende Meldungen anzeigen und bewerten
      </div>
    </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          Zuteilung
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> <a href="/arbeitsplan/zuteilungAnzeige/all/"> Existierende Zuteilungen anzeigen </a> </li>
          <li class="list-group-item"> <a href="/arbeitsplan/zuteilungUebersicht/"> Aufgaben und Zuteilungsübersicht </a> </li>
          <li class="list-group-item"> <a href="/arbeitsplan/manuelleZuteilung/"> Zuteilungen manuell vornehmen </a> 
          </li>
          <li class="list-group-item"> Zuteilungen ohne Meldung vornehmen (TODO)
          </li>
          <li class="list-group-item"> <a href="/arbeitsplan/erstelleZuteilung/"> Zuteilungen automatisch erstellen </a>  (noch nicht implementiert!) </li> 
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title">
          Leistung
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> <a href="/arbeitsplan/leistungenBearbeiten/z=all/"> Vorliegende Leistungsmeldungen für <b> alle </b>  Zuständige bearbeiten </a> </li>
          <li class="list-group-item"> <a href="/arbeitsplan/leistungenBearbeiten/z=me/"> Vorliegende Leistungsmeldungen für <b> mich  </b> als Zuständigen bearbeiten </a> </li>
          <li class="list-group-item"> <a href="/arbeitsplan/salden/"> Saldenübersicht der geleisteten Arbeitsstunden anzeigen </a> 
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-title">
          Benachrichtigungen
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> <a href="/arbeitsplan/benachrichtigen/zuteilung/"> Zuteilungen</a>: Mitglieder über erfolgte oder geänderte Zuteilungen informieren </li>
          <li class="list-group-item"> <a href="/arbeitsplan/benachrichtigen/leistung/"> Leistungen</a>: Mitglieder über Bearbeitungen von Leistungsmeldungen informieren  </li>
          <li class="list-group-item"> <a href="/arbeitsplan/benachrichtigen/senden/"> Benachrichtigungen absenden </a>  (ohne Rückfragen, ggf, zeitintensiv!)</li>
        </ul>
      </div>
    </div>
  </div>
  {% if user.is_staff %}
  <div class="col-md-6">
    <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-title">
        <a href="/admin/">Rohdaten verwalten </a>
      </div>
    </div>
    <div class="panel-body">
      Verwalten Sie alle Daten durch direkten Zugriff auf die Datenbank. 
    </div>
  </div>
  {% endif %}    
  </div>
</div>



  {% endif %} 
{% endfor %} 

{% else %}

  <div class="container">
  <div class="row">
  <div class ="col-md-12"> 
    <img class="img-responsive" src="{% static "media/head_startseite_01.jpg"%}">
  </div>
  </div>
  </div>
      <div class="jumbotron">
        <p> In einem Segelverein fällt viel Arbeit an, die auf die Mitglieder verteilt werden muss. Diese Seite dient der Organisation dieser Arbeit.
<p>
Bist Du ein Mitglied, so <a href="/accounts/login/?next=/home/"> melde Dich bitte an</a>. Für Nichtmitglieder geben wir hier einen kleinen Einblick in die zu erledigenden Aufgaben.

<ul>
  <li> <a href="/arbeitsplan/aufgaben/"> Existierende Aufgaben anzeigen </a> </li> 
</ul>
        <p><a href="/accounts/login/?next=/home/" class="btn btn-primary btn-lg" role="button">Anmelden</a></p>
      </div>


{% endif %}



{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Sat Jun 14 17:50:35 CEST 2014 <!-- hhmts end -->
</body> </html>
