{% extends "admin/base_site.html" %}
{% load staticfiles %}


{% block branding %}
<h1>Kein Vorstandsmitglied?</h1>
{% endblock %}

{% block content %}


Manche Funktionen sind Vorstandmitgliedern vorbehalten. Sie scheinen kein Vorstand zu sein - das tut uns leid!
<p>
Wir schlagen vor, dass Sie zur <a href="/home"> Homepage </a> zurückgehen. 

{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Sat Mar 29 20:43:30 CET 2014 <!-- hhmts end -->
</body> </html>
</title>
</head>

<body>
<h1></h1>



<hr>
<address></address>
<!-- hhmts start -->Last modified: Sun Apr  6 09:13:01 CEST 2014 <!-- hhmts end -->
</body> </html>
